<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Juego del ahorado</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/game']">Jugar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Puntajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Cerrar sesión</a>
                </li>
            </ul>
            <span>Bienvenido/a {{name}}</span>
        </div>
    </div>
</nav>

<div class="bg-dark min-vh-100">
    <h3> {{role  == 'admin'? 'Todos los puntajes' : 'Mis puntajes'}}</h3>
    <table class="table pt-5">
        <thead>
            <tr>
                <th scope="col">Jugador</th>
                <th scope="col">Palabra</th>
                <th scope="col">Intentos restantes</th>
                <th scope="col">Puntuacion</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @for (s of scores; track $index) {
            <tr>
                <td>{{s.playerName}}</td>
                <td>{{s.word}}</td>
                <td>{{s.attemptsLeft}}</td>
                <td>{{s.score}}</td>
                <td>{{s.date}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>